{% macro common(replicas=1) %}
replicas: {{ replicas }}
restart_policy:
  condition: {{ 'on-failure' if is_dev else 'always' }}
{% endmacro %}

{% macro deploy_section(replicas=1) %}
deploy:
  {{ common(replicas)|indent(width = 2) }}
{% endmacro %}
